.App {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 6vmin);
  min-height: 100vh;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}
