.header {
  text-align: center;
  padding: 10px;
  letter-spacing: calc(0.5px + 0.5vmin);
  border-radius: 10px;
  margin-top: calc(10px + 1vmin);
  font-family: Martel, sans-serif;
  font-weight: 900;
  font-style: italic;
  & + span {
    font-family: Martel, sans-serif;
    font-weight: lighter;
    // font-family: 'Courier New', Courier, monospace;
    font-size: calc(1px + 4vmin);
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: calc(10px + 5vmin);
  min-width: 50%;
  min-width: calc(100% / 1.5);

  & > a {
    border-top: 1px solid transparent;
    color: rgb(165, 165, 165);
    font-size: calc(10px + 2.5vmin);
    font-size: 60%;
    letter-spacing: calc(0.1px + 0.1vmin);
    text-decoration: none;
    &.selected {
      border-top: 1px solid #626c80;
      color: white;
      transition: border-color 1s ease-out, color 1s ease-out;
    }
  }
}

@media only screen and (max-width: 1275px) {
  // .nav-links > a:nth-child(2) {
  //   margin-left: calc(10px + 4vmin);
  //   margin-right: calc(10px + 4vmin);
  // }
}
